*{
    text-align: center;
}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 25px;
}
.center{
    text-align: center;
    justify-content: center;
    font-family: 'Nosifer';
}
.navbar {
    font-family: 'IBM Plex Mono';
}