*{
    text-align: center;
}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 25px;
}
.center{
    text-align: center;
    justify-content: center;
    font-family: 'Nosifer';
}
.navbar {
    font-family: 'IBM Plex Mono';
}
/* styling to hide navbar when scrolled (next 8 lines) */
#navbar {
    position: fixed;
    top: 0;
    transition: top 0.3s;
}
#navbar.hidden {
    top: -70px;
}


.navbar a{

    color:black;
    border-radius: 15px;
    transition: transform .4s;
    /* font-size: 1.1em; */
    font-weight: bold;
}
.navbar a:hover{
    color:gray;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.logo{
    max-width: 30px;
    max-height: 30px;
    border:none;
}
.top-logo{
    margin-right: 5px;
}
.navbar-brand img{
    margin-bottom: 7px;
}
.bottom-container {
    text-align: center;
    margin-top: 2rem;
    padding:30px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    color:#f5f5f5;
}
.bottom-container a:hover{
    color: aqua;
}
ul{
    list-style-type: none;
}
footer
{
    color:#f5f5f5;
    background-color: black;
    padding:auto;
    text-align: center;
    font-size: 12px;
    padding:30px 0 17px 0;

}
footer a
{
    color:white;
    text-decoration: none;
}
footer a:hover 
{
    color: aqua;
}
.last li{
    margin-top: 30px;
}
.last a{
    color: #f5f5f5;
}
iframe{
    width:100vw;
    height:87.3vh;
}
video{
    width: 100%;
    /* height: 70vh; */
}

.try{
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Form styling */

form
{
    text-align: center;
    /* background-color: #f5f5f5; */
    background-color: #113946;
    display: flex;
    flex-direction: column;
    width:90%;
    max-width: 800px;
    padding:1vw 3vw;
    border-radius: 1rem;
    margin-bottom: 30px;
    margin-left: max(15px,20px);
}

.form-img{
    margin-top: 30px;
    /* max-width:350px;
    max-height: 350px; */
    max-width: 70%;
    max-height: 70%;
    border-radius: 5%;
}
form h3{
    /* color:black; */
    color: #f5f5f5;
    font-weight: 800;
    margin-bottom:3rem;
    margin-top: 3rem;
}

form input,textarea,select,button{
    border-radius: 5px;
    /* color:black; */
    color: #ffc800;
    /* background-color: #f5f5f5; */
    background-color: #113946;
    border: none;
    border-bottom: 2px solid #ffc800;
    margin-top:35px;
}
form button{
    width:100%;
    min-height: 50px;
    /* max-height: 50%; */
    font-weight: bold;
    background-color: black;
    color:#ffc800;
}
form i {
    margin-right: 10px;
}
/* form a:hover{
    color:#f5f5f5;
    background-color: #5CE1E6;
} */

form button:hover
{
    /* background-color:rgb(23, 38, 44);
    color:#f9f9f9; */
    color:black;
    background-color: #ffc800;
}

select{
    text-align: center;
}
::placeholder {
    text-align: center;
    /* color: black; */
    color: #ffc800;
    opacity: 1;
  }

.form {
    /* background-color: rgb(23, 38, 44); */
    /* background-color: gray; */
    /* background-color: #f5f5f5; */
    background-color: #113946;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#f9f9f9;
    display: flex;
}
.contact-us{
    padding: 1em;
    font-weight: 500;
}

.contact-us p{
    font-size: 18px;
}
.contact-us h4,h3{
    font-weight: 800;
    margin-bottom:3rem;
    margin-top: 3rem;
}
.map{
    max-width: 95vw;
    max-height: 70vh;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.map-container{
    justify-content: center;
    text-align: center;
    background-color: #ffc800;
    /* padding: 1em; */
}




/* Define the background color when the "bg-color" class is applied */
.bg-color {
    /* Change this to your desired background color */
    background-color: #ffc800;
}
